<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <link rel="shortcut icon" type="/png" href="/res/logo.jpg"/>
    <title>NRTC.com</title>
    <style type="css/text">

    </style>
</head>
<body style="font-family: 'Abel';font-size: 22px;">


<div style="margin-bottom: -18px;" class="w3-animate-top">
    <div class="w3-bar w3-white w3-border w3-card-4 w3-padding-32">
        <a href="/">  <img src="/res/NRTCb.png" style="width:220px; height: 110px; margin:-30px 30px" alt="" > </a>
        <a href="/contact" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-right w3-hover-light-grey  w3-hover-text-brown  ">Contact Us</a>

        <div class="w3-dropdown-hover w3-right w3-hide-medium w3-hide-small">
            <button class="w3-button w3-brown">Our Research <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-opacity">
                <a href="/fundedResearch" class="w3-bar-item w3-button w3-brown">Funded Research</a>
                <a href="/studentResearch" class="w3-bar-item w3-button">Student Research</a>
            </div>
        </div>
        <a href="/training" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-light-grey  w3-hover-text-brown ">Training</a>
        <a href="/news" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-right w3-hover-light-grey   w3-hover-text-brown ">News & Opportunities</a>
        <a href="/gallery" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-right w3-hover-light-grey   w3-hover-text-brown  ">Gallery</a>
        <a href="/about" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-right w3-hover-light-grey   w3-hover-text-brown ">About Us</a>
        <a href="/index" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-light-grey  w3-right  w3-hover-text-brown ">Home</a>
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large " onclick="myFunction()">&#9776;</a>
    </div>
    <div id="demo" class="w3-bar-block w3-hide w3-hide-large  " style="position: absolute; background:#a87037; z-index: 1; margin-top:0px; width:100%;" >
        <a href="/index" class="w3-bar-item w3-button">Home</a>
        <a href="/about" class="w3-bar-item w3-button">About Us</a>
        <a href="/gallery" class="w3-bar-item w3-button  ">Gallery</a>

        <a href="/news" class="w3-bar-item w3-button  ">News & Opportunities</a>

        <a href="/training" class="w3-bar-item w3-button ">Training</a>
        <div class="w3-dropdown-hover  w3-mobile" style="padding:-60px 0px;">
            <button class="w3-button w3-brown w3-brown">Our Research <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-opacity">
                <a href="/fundedResearch" class="w3-bar-item w3-button w3-brown">Funded Research</a>
                <a href="/studentResearch" class="w3-bar-item w3-button">Student Research</a>
            </div>
        </div>

        <a href="/contact" class="w3-bar-item w3-button">Contact Us</a>
    </div>
</div>


<div class="w3-container w3-light-gray" style="margin: 30px 30px; margin-top: 60px;">
</div>
<div style="margin: 30px 12%" >
    <div style="width:100%; min-height: 400px;">
        <h1 class="w3-center w3-border-bottom w3-border-gray" id="tiky" style="color:#000033;"><%=data.title%></h1> 
        <p>
                <img class="w3-hide-medium w3-hide-small"  style="float: left;  margin: 5px;  width: 400px; max-height: 300px;" src="<%= data.imagepath %>" alt="<%= data.imagepath %>" >
                <div id="tiky2" style="margin: 5px; ">  <%=data.message%></div> 
                <!-- <span> <b>Summary:</b></span> <%=data.message%> -->
        </p>
       
        <div class="w3-display-container w3-border-teal" style="margin-bottom:150px;">
            <p class="w3-right"> <br/>
                <span class="fa fa-calendar w3-text-brown"></span>
                <span style="font-family: 'Abel';color:#a87037;">By <%=data.researcherName%></span>
            </p>
        </div>
    </div>
</div>
</div>





<% include ./partials/footer.ejs%>
<script>
    function myFunction() {
        var x = document.getElementById("demo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>

</body>
</html>