<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name='description' content='University of Ghana Nutrition Research and Training Center (NRTC) is a research and training center established under the Department of Nutrition and Food Science, College of Basic & Applied Sciences, University of Ghana. NRTC aims at bringing together researchers from a wide range of disciplines to tackle the complex barriers to optimal nutrition and health. '>
    <meta name='keywords' content='Nrtc, Nrtcgh, nrtcgh, nrtc, UG, University of Ghana, Nutrition Research and Training Center, University of Ghana Nutrition Research and Training Center, The International Dietetic Internship in Community Nutrition, DFATD funded Nutrition Links project, Dietetic services to the Asesewa District Hospital'>
    
    <link rel="stylesheet" href="/css/w3.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <link rel="shortcut icon" type="/png" href="/res/logo.jpg"/>
    <title>NRTC.com</title>
    <style type="css/text">

    </style>
</head>
<body style="font-family: 'Abel';font-size: 22px;">


<div style="margin-bottom: -18px;" class="w3-animate-top">
    <div class="w3-bar w3-white w3-border w3-card-4 w3-padding-32">
        <a href="/">  <img src="/res/NRTCb.png" style="width:220px; height: 110px; margin:-30px 30px" alt="" > </a>
         <a href="/contact" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-right w3-hover-light-grey  w3-hover-text-brown  ">Contact Us</a>

        <div class="w3-dropdown-hover w3-right w3-hide-medium w3-hide-small">
            <button class="w3-button">Our Research <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-opacity">
                <a href="/fundedResearch" class="w3-bar-item w3-button">Funded Research</a>
                <a href="/studentResearch" class="w3-bar-item w3-button">Student Research</a>
            </div>
        </div>
        <a href="/training" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-light-grey  w3-hover-text-brown ">Training</a>
        <a href="/news" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-right w3-hover-light-grey   w3-hover-text-brown w3-brown ">News & Opportunities</a>
        <a href="/gallery" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-right w3-hover-light-grey   w3-hover-text-brown  ">Gallery</a>
        <a href="/about" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-right w3-hover-light-grey   w3-hover-text-brown ">About Us</a>
        <a href="/index" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-light-grey  w3-right  w3-hover-text-brown ">Home</a>
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large " onclick="myFunction()">&#9776;</a>
    </div>
    <div id="demo" class="w3-bar-block w3-hide w3-hide-large  " style="position: absolute; background:#a87037; z-index: 1; margin-top:0px; width:100%;" >
        <a href="/index" class="w3-bar-item w3-button">Home</a>
        <a href="/about" class="w3-bar-item w3-button">About Us</a>
        <a href="/gallery" class="w3-bar-item w3-button  ">Gallery</a>

        <a href="/news" class="w3-bar-item w3-button  w3-brown">News & Opportunities</a>

        <a href="/training" class="w3-bar-item w3-button ">Training</a>
        <div class="w3-dropdown-hover  w3-mobile" style="padding:-60px 0px;">
            <button class="w3-button">Our Research <i class="fa fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-opacity">
                <a href="/fundedResearch" class="w3-bar-item w3-button">Funded Research</a>
                <a href="/studentResearch" class="w3-bar-item w3-button">Student Research</a>
            </div>
        </div>

        <a href="/contact" class="w3-bar-item w3-button">Contact Us</a>
    </div>
</div>


<div class="w3-container w3-light-gray" style="margin: 30px 30px; margin-top: 60px;">
</div>

<div style="margin: 30px 12%" >
        <div style="width:100%; min-height: 400px;">
            <h1 id="tiky"  class="w3-center w3-border-bottom w3-border-gray" style="color:#000033; font-size: larger;"><b><%=data.title%></b></h1>
            <div>

                    <img class="w3-hide-medium w3-hide-small" style="float: left;  margin: 5px;  width: 100%; max-height: 500px; text-align: center;" src="<%= data.blogimage %>" alt="<%= data.blogimage %>" >
                     <div id="tiky2"  style="margin: 5px; font-size: 1.05em; "> <%=data.message%>
                        <div style="font-size: 1.05em;">
                            <ul>                                    
                                <li><b>Poster presentation of NRTC-based research work</b></li>
                                    <p><b>Date:</b> March 17, 2020</p>
                                    <p><b>Time:</b> 10:00am - 2:00pm</p>
                                    <p><b>Venue:</b> Forecourt of NFS</p>
                               
                                <li><b>Public lecture: <u> Improving nutrition in rural Ghana: A glimpse at the first decade of the University of Ghana Nutrition Research and Training Center</u></b></li>
                                <p><b>Speaker:</b> Prof. Grace Marquis</p>
                                <p><b>Date:</b> March 17, 2020</p>
                                <p><b>Time:</b> 3:00pm - 4:30pm</p>
                                <p><b>Venue:</b> Auditorium of CAW</p>
                            
                                <li><b>Nutrition Outreach to community members</b></li> 
                                <p><b>Date:</b> July 03, 10, 17, 24, 2020 (Fridays in July)</p>
                                <p><b>Venue:</b> Asesewa CWC site</p>
                                <li><b>Grand Durbar</b></li> 
                                <p><b>Date:</b> July 28, 2020</p>
                                <p><b>Time:</b> 9:00am - 1:00pm</p>
                                <p><b>Venue:</b> NRTC Forecourt</p>
                            
                            </ul>
                        </div>
                    </div> 

                     
            </div>
        
            <div class="w3-display-container w3-border-teal" style="margin-bottom:150px;">
                <p class="w3-right"> <br/>
                    <span class="fa fa-calendar w3-text-brown"></span>
                    <span style="font-family: 'Abel';"> <%=data.createdAt.toString().slice(0, 15); %></span>
                </p>
            </div>
        </div>
    </div>
</div>





<% include ./partials/footer.ejs%>
<script>
    function myFunction() {
        var x = document.getElementById("demo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>

</body>
</html>
