<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet'>
    <link rel="shortcut icon" type="/png" href="res/logo.jpg"/>
    <title>NRTC.com</title>
    <style type="css/text">
       
       </style>
</head>
<body style="font-family: 'Abel';font-size: 22px;"> 
 

<div style="margin-bottom: -18px;" class="w3-animate-top">
  <div class="w3-bar w3-white w3-border w3-card-4 w3-padding-32">
    <a href="/">  <img src="/res/NRTCb.png" style="width:220px; height: 110px; margin:-30px 30px" alt="" > </a>
    <a href="/contact" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-right w3-hover-light-grey  w3-hover-text-brown  ">Contact Us</a>

      <div class="w3-dropdown-hover w3-right w3-hide-medium w3-hide-small">
          <button class="w3-button w3-brown">Our Research <i class="fa fa-caret-down"></i></button>
          <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-opacity">
              <a href="/fundedResearch" class="w3-bar-item w3-button">Funded Research</a>
              <a href="/studentResearch" class="w3-bar-item w3-button w3-brown">Student Research</a>
          </div>
      </div>
      <a href="/training" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-light-grey  w3-hover-text-brown ">Training</a>
      <a href="/news" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-right w3-hover-light-grey   w3-hover-text-brown  ">News & Opportunities</a>
      <a href="/gallery" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-right w3-hover-light-grey   w3-hover-text-brown  ">Gallery</a>
      <a href="/about" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-right w3-hover-light-grey   w3-hover-text-brown">About Us</a>
      <a href="/" class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-light-grey  w3-right  w3-hover-text-brown ">Home</a>
      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large " onclick="myFunction()">&#9776;</a>
  </div>
  <div id="demo" class="w3-bar-block w3-hide w3-hide-large  " style="position: absolute; background:#a87037; z-index: 1; margin-top:0px; width:100%;" >
      <a href="/" class="w3-bar-item w3-button ">Home</a>
      <a href="/about" class="w3-bar-item w3-button ">About Us</a>
      <a href="/gallery" class="w3-bar-item w3-button  ">Gallery</a>

      <a href="/news" class="w3-bar-item w3-button ">News & Opportunities</a>

      <a href="/training" class="w3-bar-item w3-button ">Training</a>
      <div class="w3-dropdown-hover  w3-mobile" style="padding:-60px 0px;">
          <button class="w3-button w3-brown">Our Research <i class="fa fa-caret-down"></i></button>
          <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-opacity">
              <a href="fundedResearch" class="w3-bar-item w3-button">Funded Research</a>
              <a href="studentResearch" class="w3-bar-item w3-button w3-brown">Student Research</a>
          </div>
      </div>

      <a href="/contact" class="w3-bar-item w3-button">Contact Us</a>
  </div>
</div>
    
   <div class="w3-margin"></div>
    <div class="w3-container">
            <h1 style="color:#000033;" class="w3-center w3-border-bottom w3-border-gray w3-xxlarge">Student Research</h1>
            
        <div >
           <div class="w3-container">
            The Centre has hosted students from University of Ghana,
             McGill University, and other institutions, to do conduct 
             their research (PhD and MSc theses research) in rural Upper
              Manya Krobo. Below are examples of student projects that have
             been hosted at the Centre since it was established in 2010:
           </div>
        </div>
    </div>
    
    <!-- student research from database -->
 
    <div class="w3-row">
    <div class="w3-container" style="margin: 30px 2%"> 

        <div >
                <!-- first content -->
                
            <% data.forEach(function(one){%>

           <div class="w3-card  w3-padding">
            <header>
                <div> <b>Title:</b> </div>
              <span> <u><%= one.title%></u></span>  
            </header>
            <span> <b>Student:</b> </span>  <%=one.studentName%>
            <div> <b> Degree and Institution:</b> <span><%=one.degreeAndInstitution%> </span></div>
            <hr>
            
            <div class="w3-container">
                <span> <b>Summary:</b></span>
                       <%= one.message.slice(0, 450); %>... 
    
                  <div>
                       <a href="/StudentResearch/<%= one.id%>"id="btn" class="w3-btn w3-border w3-teal">Read</a>
                  </div>
            </div>
        </div>
<%})%>
        <!-- second content -->
        <div class="w3-card w3-margin w3-padding">
                <header>
                    <div> <b>Title:</b> </div>
                  <span> <u>Improving the capacity of community health workers to identify and mitigate low weight for length in young children in Ghana</u></span>  
                </header>
                <span> <b>Student:</b> </span>  Matilda E. Laar
                <div> <b> Degree and Institution:</b> <span>Doctoral, McGill University, Canada</span></div>
                <hr>
                
                <div class="w3-container">
                    <span> <b>Summary:</b></span>
                    The aim of this study was to determine if increasing the capacity of nurses and health volunteers, by providing them with appropriate tools and nutrition knowledge to identify low weight for length Z-score and offer effective nutrition counselling would affect the prevalence of wasting in children less than 2 years of age. Using a cross-sectional survey of households with young children in the Upper Manya Krobo district, an algorithm was developed based on individual and household-level predictors of low WLZ. Then a cluster-randomized intervention was carried out in rural GMP outreach services to compare three treatments: (i) control group, use of the mandated standard-of-care (SOC) weight measurements, weight-for-age z-score (WAZ) chart and the GHS counselling cards; (ii) algorithm group, use of a newly-developed algorithm and SOC; and (iii) length group, measurement of length, use of WLZ chart and SOC. 
                         <div id="show1" style="display: none" >
                                Thirty clusters of community-based GMP clinics were randomly assigned to the three treatment groups (n=10 per group). Using two cross-sectional surveys at baseline (n=661) and one year later (n=666), we tested differences in prevalence of low WLZ in children 0 to 24 months. . At both rounds of survey, children’s anthropometric and dietary data, caregivers’ young child feeding and child care practices, and household assets, demographics, and food security were assessed. Community- and child-level analyses were by intention-to-treat, adjusting for clustering effect, child age, sex, diet, and health factors. The results show that the algorithm was unable to accurately discriminate between children with low WLZ and those with higher WLZ. The indicator WAZ < -1 alone was moderately accurate in identifying low WLZ in children. The intervention had no effect on prevalence of low WLZ at the community level (p = 0.67) or low wasting status at the individual level (p = 0.71). However, a significantly higher number of scheduled GMP sessions was held in the algorithm and length groups compared to control (mean difference: 2.7; 95% CI: 0.01 to 5.40, and 2.93; 95% CI: 0.55 to 5.31, respectively). A higher proportion of caregivers were provided with individual counseling in the algorithm and control group compared to length (mean difference: 0.24; 95% CI: 0.17 to 0.31, and 0.23; 95% CI: 0.15 to 0.31, respectively). The inter-technical error of measurement of both nurses and health volunteers were unacceptably high. Pre- and in-service training for health personnel are important for improving and maintaining reliable length measurements. In future, there is a need to evaluate rural GMP programs in Ghana to identify bottlenecks and how these can be addressed to improve program effectiveness.
                             </div>
                      
                      <div>
                           <button id="btn1" class="w3-btn w3-border w3-teal" onclick="showAll('show1','btn1')">Show More...</button>
                      </div>
                </div>
            </div>
    
        

    </div>
 
      </div>
    </div>

 

    <% include ./partials/footer.ejs%>

<script>
      var myIndex = 0;
      carousel();
      
      function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";  
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}    
        x[myIndex-1].style.display = "block";  
        setTimeout(carousel, 4000); // Change image every 2 seconds
      }
      </script>
      
      <script>
      function myFunction() {
        var x = document.getElementById("demo");
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
        } else { 
          x.className = x.className.replace(" w3-show", "");
        }
      }
      var val = 0;
      function showAll(show, btn){
          
          if(val == 0){
            document.getElementById(show).style.display = "block";
            document.getElementById(btn).innerHTML = "Show Less"
            val = 1;
          }
          else if(val = 1){
            document.getElementById(show).style.display = "none";
            document.getElementById(btn).innerHTML = "Show More"
            val = 0;
          }

         
      }
      </script>
    
</body>
</html>